{% extends 'layouts/public.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-8">

            <h1 class="my-4">Questionnaire</h1>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="col-md-4">

        </div>

    </div>

{% endblock %}