{% extends 'layouts/public.html.twig' %}

{% block title %}News for {{ 'now'|date('Y-m-d') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">

            <h1 class="my-4">{{ 'news'|capitalize }}</h1>

            {% if articlesCount > 0 %}
                <h2>{{ articlesCount }} articles found</h2>
                {% for article in articles %}
                    {% include "includes/article_item.html.twig" with {'article':article,'newsQuery':newsQuery} only %}
                {% endfor %}
            {% else %}
                Not found articles!
            {% endif %}

        </div>

        <div class="col-md-4">

            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                   {% embed "includes/search_form.html.twig" %}
                       {% block proverb %}
                           Money talks.
                       {% endblock %}
                   {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
